@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Exo&family=Gruppo&family=IBM+Plex+Mono:wght@300&family=IBM+Plex+Sans:wght@300&family=Josefin+Slab:wght@300&family=Montserrat+Alternates&family=Ubuntu+Mono&family=Varela+Round&family=Victor+Mono:wght@100&display=swap');

body {
    background-image: linear-gradient(45deg, #16465c, rgb(48, 9, 38));
    background-attachment: fixed;
    /* font-family: 'Ubuntu Mono', monospace; */
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'IBM Plex Mono', monospace; */
    /* font-family: 'Victor Mono', monospace; */
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: calc(7px + 1vw);
}
.year{
    font-style: italic;
    color: grey;
}
p{
    text-align: justify;
}
li {
    font-size: calc(10px + 1vw);
    padding: 1vw;
}
.achievements li {
    padding: 0.5vw;
}

i {
    color: rgb(219, 172, 207);
}

h1 {
    font-size: calc(20px + 6vw);
}

h2 {
    font-size: calc(15px + 3vw);
}

h3 {
    font-size: calc(15px + 1vw);
}

.skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.skills li {
    list-style: none;
    padding: 0;
    text-align: center;
}

.pink {
    color: rgb(219, 172, 207);
}

.intro h2,
.intro h1,
.intro h3 {
    font-family: 'Josefin Slab', serif;
}

.intro {
    padding-top: calc(5px + 6vw);
    margin-bottom: calc(3px + 2vw);
    /* height: 600px; */
}

.bubble {
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    height: 100%;
    min-height: fit-content;
    border: solid 1px rgba(255, 255, 255, 0.342);
    border-radius: 20px;
    color: white;
    padding: 20px;
    padding-top: 25px;
}

.project {
    margin: 20px;
    border: solid 1px rgba(255, 255, 255, 0.137);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.315);
}

.skilltable td {
    padding: 10px;
}

button {
    background-color: rgba(255, 255, 255, 0.041);
    color: rgba(255, 255, 255, 0.815);
    border-radius: 20px;
    border-top: none;
    padding: 10px;
    margin:auto;
}

button:hover {
    background-color: rgba(32, 6, 26, 0);
    color: rgba(255, 255, 255, 0.479);

}




@media(max-width:768px) {
    .intro {
        width: 100%;
    }
}