@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Exo&family=Gruppo&family=IBM+Plex+Mono:wght@300&family=IBM+Plex+Sans:wght@300&family=Josefin+Slab:wght@300&family=Montserrat+Alternates&family=Ubuntu+Mono&family=Varela+Round&family=Victor+Mono:wght@100&display=swap');

body {
    background-image: linear-gradient(45deg, #16465c, rgb(48, 9, 38));
    background-attachment: fixed;
    /* font-family: 'Ubuntu Mono', monospace; */
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'IBM Plex Mono', monospace; */
    /* font-family: 'Victor Mono', monospace; */
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: calc(7px + 1vw);
    cursor: default;
}

.year {
    font-style: italic;
    color: grey;
}

p {
    text-align: justify;
}

li {
    font-size: calc(10px + 1vw);
    padding: 1vw;
}

.contact li,
.contact a {
    font-size: calc(5px + 1vw);
    text-decoration: none;
    font-style: italic;
    color: white;

}
.education{
    margin-top: 16px;
}
/****height of asides*****/
.contact,.skills{
    height:100%;
}

.achievements li {
    padding: 0.5vw;
}

i {
    color: rgb(219, 172, 207);
}

h1 {
    font-size: calc(20px + 6vw);
}

h2 {
    font-size: calc(15px + 3vw);
}

h3 {
    font-size: calc(15px + 1vw);
}

.skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.skills li {
    list-style: none;
    padding: 0;
    text-align: center;
}

.pink {
    color: rgb(219, 172, 207);
}

.intro h2,
.intro h1,
.intro h3 {
    font-family: 'Josefin Slab', serif;
}

.intro {
    padding-top: calc(5px + 6vw);
    margin-bottom: calc(3px + 2vw);
    /* height: 600px; */
}

.bubble {
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    /* height: 100%; */
    min-height: fit-content;
    border: solid 1px rgba(255, 255, 255, 0.342);
    border-radius: 20px;
    color: white;
    padding: 20px;
    padding-top: 25px;
}

.project {
    margin: 20px;
    border: solid 1px rgba(255, 255, 255, 0.137);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.315);
}

.skilltable td {
    padding: 10px;
}

button {
    background-color: rgba(255, 255, 255, 0.041);
    color: rgba(255, 255, 255, 0.815);
    box-shadow: 0px 0px 3px rgb(85, 0, 67);
    border-radius: 20px;
    border: groove 1px;
    border-color:  #16465c #16465c rgb(48, 9, 38) rgb(48, 9, 38);
    padding: 10px;
    margin: auto;
    transition:0.5s ease-in-out;
}

span.cgpa {
    border: solid 1px rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.521);
    background-color: rgba(255, 87, 219, 0.096);
}
/****modal****/
.modal-body{
    background-color: rgba(0, 0, 0, 0);
    cursor: zoom-out;
}
.modal-content{
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 20px;
}
.dp{
    border-radius: 100%;
    cursor: zoom-in;
}

/*fixed elements*/
.up,.contactme{
    position:fixed;
    bottom: 10px;
    z-index: 10;
    height:40px;
    width:40px; 
    text-align: center;  
    padding-top: 5px;
    background-color:rgba(85, 0, 67, 0.247) ;
    border-radius: 20px;
    transition: 0.2s ease-in;
}
.up i,.contactme i{
    font-size: 18px;
    margin:0;
    padding: 0;
}
.up:hover,.contactme:hover{
    transform: scale(1.2);
}
.up{
    left:25px;
}
.contactme{
    right:25px;
}

/*mediaquery*/
@media(max-width:768px) {
    .intro {
        width: 100%;
    }
    .up,.contactme{
        padding-top: 10px;
    }
}
/* 
@media(min-width:768px) {

} */

/*hover effects*/
li:hover {
    transform: scale(1.005);
}

.cgpa {
    opacity: 0%;
    transition: 0.5s ease-in-out;
}

li:hover .cgpa {
    opacity: 100%;
}

td:hover {
    transform: scale(1.02);
}

.bubble:hover .bubblehead i {
    animation: spin 2s linear 0s infinite;
}

.bubble:hover h3 {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.466);
}

.hello {
    transition: 1s ease-in-out;
}

.hello:hover {
    transform: scale(1.5);
}


button:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 7px rgba(255, 243, 252, 0.315);


}
button:focus {
    box-shadow: 0px 0px 7px rgba(255, 243, 252, 0.315);
}
button:active {
    border-color: rgb(48, 9, 38) rgb(48, 9, 38) #16465c #16465c;
    box-shadow: 0px 0px 7px rgba(255, 243, 252, 0.315);

    /* background-color: rgba(32, 6, 26, 0); */
}
/*animations*/
@keyframes spin {
    0% {
        transform: rotateY(0deg);

    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotatY(360deg);
    }

}
